@import "./variable";

.about_section {
  margin-top: 90px;

  .about_title {
    position: relative;
    margin-bottom: 60px;

    h1 {
      @include title();
    }
    
    & > img {
      @include star_effect($rit: -5%, $top: 100%);
      // position: absolute;
      // width: 20px;
      // right: -5%;
      // top: 100%;
    }
  }

  .about_left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

    .about_left_item {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      h4 {
        color: $prime_color;
        font-size: $h_font;
        font-weight: $p_weight;
      }

      p {
        font-size: $p_font_sm;
        font-weight: $title_weight;
      }
    }
  }

  .about_center {
    position: relative;
    @include border($radious: 160px);
    padding: 10px;

    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 260px;
      height: 388px;
      background-size: 1% 2%;
      background-image: linear-gradient(
        #dedede26,
        #dedede2b 0px,
        #0000000d 1px,
        #0000000d 20px
      );
      animation: repeting 7s infinite linear;
      border-radius: 160px;

      @keyframes repeting {
        0% {
          background-position: 0% 0%;
        }
        100% {
          background-position: 100% 100%;
        }
      }
    }

    img {
      width: 260px;
    }
  }
}
