@import "./variable";

.exclusiveShot_section {
  margin-top: 90px;

  .exclusiveShot_title {
    margin-bottom: 60px;

    h1 {
      @include title();
    }
  }

  .exclusiveShot {
    position: relative;

    .exclusiveShot_item_1 {
      position: relative;

      img {
        width: 100%;
      }
    }

    .exclusiveShot_item_2 {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: end;
      position: relative;

      img {
        position: absolute;
        width: 100%;
      }
    }

    .paralax {
      animation: paralax forwards 0.8s linear;
      @keyframes paralax{
        0%{
          transform: translateY(0);
        }
        100%{
          transform: translateY(-50px);
        }
      }
    }
  }
}
