@import "./variable";

.gallery_section {
  .gallery_title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    & > img {
      @include star_effect(-5%, 100%);
    }

    h1 {
      @include title(start);
      width: 780px;
    }
    button {
      background-color: transparent;
      color: $prime_color;
      @include border(0px);
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin: 0 15px 0 0;
        font-size: $h_font_sm;
        font-weight: $p_weight;
        color: $dark_blk;
      }

      img {
        width: 100px;
      }
    }
  }

  .gallery_left {
    ul {
      display: flex;
      justify-content: start;
      flex-direction: column;
      padding: 0;

      li {
        list-style: none;

        a {
          color: $dark_blk;
          display: flex;
          list-style: none;
          margin: 0 0 30px;
          align-items: center;
          position: relative;
          text-decoration: none;
          transition: color 0.2s linear;

          p {
            font-size: $h_font_sm;
            font-weight: $p_weight;
            margin: 0;
            width: 270px;
          }

          img {
            width: 0px;
            margin: 0 7px 0 0;
            transition: width 0.2s cubic-bezier(0.5, 0.23, 0.45, 0.27);
          }

          &:hover {
            color: $prime_color;
          }

          &:hover::before {
            opacity: 1;
            filter: sepia(0%) saturate(100%) brightness(80%) hue-rotate(-363deg);
          }

          &:hover img {
            width: 130px;
            color: #000;
          }

          &::before {
            position: absolute;
            content: "";
            right: 10px;
            opacity: 0;
            width: 30px;
            height: 30px;
            @include border(0px);
            background-color: $mild_color;
            z-index: -1;
          }
        }
      }
    }
  }

  .gallery_right {
    .gallery_img {
      display: flex;
      justify-content: end;

      .img_content {
        padding: 0 18px;
        position: relative;

        p {
          font-size: $nav_font;
          font-weight: $p_weight;
          position: absolute;
          left: 50%;
          width: 100%;
          margin: 16px 0 0;

          &:nth-child(odd) {
            top: -15%;
          }
        }

        img {
          width: 180px;
          height: 320px;
        }

        &:nth-child(odd) {
          margin-top: 70px;
        }
      }
    }
  }
}
