@import "./variable";

header {
  overflow: hidden;

  nav {
    padding-top: 10px !important;

    a {
      margin: 0 !important;
      padding: 0 !important;

      h1 {
        @include title($f_siz: $h_font_xl);
        margin: 0;
      }
    }
    .collapse {
      .navbar-nav {
        .nav-item {
          padding: 0 20px;

          .nav-link {
            position: relative;
            font-size: $h_font_sm;
            font-weight: $p_weight;
            color: $light_blk;
            text-shadow: 0px 0px 10px #ffffff;
          }
        }
      }
      button {
        @include border($wd: 0, $radious: 15px);
        padding: 18px 36px;
        background-color: $prime_color;
        color: #fff;
        font-size: $stripe_font;
        font-weight: $nav_weight;
      }
    }
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    cursor: pointer;
    width: 100%;
    height: 100%;
    @include border($wd: 0, $radious: 10px);
    color: $prime_color !important;
    background-color: transparent;
  }

  .sticky {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 100;
    top: 0;
    background-color: $sticky_navbar_bg;
    backdrop-filter: blur(5px);
    @include box_shadow($sticky_navbar_sadow);
  }

  figure {
    position: relative;
    margin-bottom: 130px;

    .middle {

      h1 {
        position: absolute;
        top: 110px;
        left: 42%;
        font-family: $title_family;
        font-size: $banner_font;
        font-weight: $banner_weight;
        transform: translateX(-32%);
        text-align: center;
        line-height: 1.4;
        letter-spacing: 5px;

        strong {
          font-size: $banner_font;
        }

        span {
          position: absolute;
          width: 700px;
          height: 100%;
          left: 80px;

          sub {
            font-size: $banner_font;
          }
        }
      }
      a {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        top: 80%;
        left: 50%;
        transform: translate(-50% ,20%);
        margin: 0;
        padding: 0;
        @include border(0px);
        background: transparent;
        cursor: pointer;

        div {
          position: relative;
          width: 150px;
          height: 150px;
          @include border(0px);

          p {
            position: absolute;
            top: 0;
            left: 50%;
            margin: 0;
            font-size: $cv_btn_font;
            font-weight: $p_weight;
            color: $light_blk;
            transform-origin: 0 80px;
            animation: swing 24s infinite linear;

            @keyframes swing {
              0% {
                transform: rotate(0deg);
              }
              100% {
                transform: rotate(360deg);
              }
            }
          }
        }

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(5deg);
          width: 40px;
        }
      }
    }

    main {
      position: relative;
      z-index: 1;

      .hero_left {
        position: relative;
        margin: 0 250px 0 0;

        & > img {
          @include star_effect(0, 12%);
        }

        .hero_left_title {
          position: relative;
          background-color: $dark_blk;
          width: 150px;
          height: 150px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          @include border(0px);
          margin: 50px 0 0 50px;

          .drow_line {
            position: absolute;
            width: 250px;
            height: 390px;
            left: -3px;
            top: -10%;
            transform: rotate(-4deg);
          }

          h1 {
            font-size: $title_font_xl;
            font-family: $title_family;
            font-weight: $title_weight;
            color: #fff;
            margin: 0;
            padding: 12px 0 0;
          }
        }

        .hero_left_img {
          position: relative;
          width: 340px;
          height: 340px;
          display: inline-block;
          @include border();
          margin: 135px 0 0 0px;

          .circle {
            position: absolute;
            width: 311px;
            height: 311px;
            left: 52%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: $prime_color;
            @include border(0px);

            img {
              position: absolute;
              width: 322px;
              height: 406px;
              bottom: 0;
              left: 60%;
              transform: translateX(-50%);
              border-radius: 10% 0 100% 80%/0% 17% 63% 40%;
            }
          }
        }
      }

      .hero_right {
        position: relative;
        display: flex;
        justify-content: end;
        margin: 50px 0 0;

        p {
          position: absolute;
          top: 0%;
          right: 46%;
          transform: translateX(50%);
          color: $dark_blk;
          font-size: $nav_font;
          font-weight: $p_weight;
          font-family: $prime_family;
        }

        & > img {
          @include star_effect($rit: -10%, $top: 100%);
        }

        .hero_right_title {
          position: relative;
          margin: 20px 28px 0 0;

          h1 {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 270px;
            height: 100px;
            background-color: $prime_color;
            @include border($wd: 0px, $radious: 50px);
            font-size: $banner_font;
            font-family: $title_family;
            font-weight: $title_weight;
            color: #fff;
            margin: 190px 0 0 0px;
            padding-top: 5px;
            line-height: 0;
          }

          img {
            position: absolute;
            left: -3%;
            top: 50%;
            width: 358px;
            height: 140px;
          }
        }

        .hero_right_img {
          position: relative;
          width: 340px;
          height: 340px;
          display: inline-block;
          @include border();
          margin: 50px 0 0;

          .circle {
            position: absolute;
            width: 311px;
            height:311px;
            left: 48%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: $mild_color;
            @include border(0px);

            img {
              position: absolute;
              width: 318px;
              height: 337px;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              @include border(
                $wd: 0px,
                $radious: 0% 0% 100% 70%/0 57% 50% 150%
              );
            }

            .exprience {
              display: flex;
              justify-content: center;
              width: 406px;
              height: 117px;
              @include border($radious: 140px);
              position: relative;
              margin: 145% -52% 0%;

              .upps {
                position: absolute;
                right: 12%;
                top: 0%;
                transform: translateY(-50%);
                background-color: $dark_blk;
                color: #fff;
                @include border($wd: 0px, $radious: 120px);
                width: 165px;
                height: 75px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h4 {
                  margin: 0;
                  font-size: $h_font;
                  font-weight: $p_weight;
                }
                span {
                  margin: 0;
                  font-size: $nav_font;
                  font-weight: $p_weight;
                }
              }
              .down {
                left: 12%;
                bottom: 0%;
                transform: translateY(50%);
                background-color: #afcfff;
                right: unset;
                top: unset;
              }
            }
          }
        }
      }
    }
  }

  .strp {
    position: relative;
    width: 100%;
    height: 120px;
    margin-bottom: 90px;

    .strp_up {
      background: $mild_color;
      position: absolute;
      left: 50%;
      width: 108%;
      transform: translateX(-50%) rotateZ(4deg);

      a {
        text-decoration: none;

        ul {
          display: flex;
          flex-direction: row;
          padding: 20px 0;
          margin: 0;
          justify-content: space-around;
          align-items: center;

          li {
            list-style: none;
            padding: 0 25px;
            font-weight: $p_weight;
            font-size: $stripe_font;
            line-height: 150%;
            color: #fff;
          }
        }
      }
    }

    .strp_down {
      background: $prime_color;
      transform: translateX(-50%) rotateZ(-4deg);
    }
  }
}
