@import "./variable";

.slider_section {
  margin-top: 90px;
  position: relative;
  margin-bottom: 0;

  .slider_title {
    margin-bottom: 60px;
    text-align: center;
    position: relative;

    & > img {
      @include star_effect($lft: 70px, $top: -50px);
    }

    h1 {
      @include title();
    }

    & > p {
      font-size: $h_font_sm;
      font-weight: $title_weight;
      width: 375px;
      margin: 15px auto 15px;
    }

    address {
      display: flex;
      justify-content: center;
      align-items: center;

      .input_item {
        position: relative;
        margin: 0 15px 0;

        button {
          position: relative;
          overflow: hidden;
          width: 150px;
          height: 150px;
          border-radius: 100%;
          cursor: pointer;
          background-color: transparent;
          @include border();

          &::before {
            content: "";
            position: absolute;
            top: -100%;
            left: -100%;
            width: 150px;
            height: 150px;
            border-radius: 100%;
            background-color: $prime_color;
            transition: all 0.5s linear;
          }

          &:hover::before {
            top: 0;
            left: 0;
            border-radius: 100%;
            transform: rotate(360deg);
          }

          &:hover img {
            filter: sepia(200%) saturate(300%) brightness(380%) hue-rotate(-363deg);
          }

          img {
            position: absolute;
            width: 30px;
            left: 50%;
            top: 70%;
            transform: translate(-50%, -70%);
            filter: sepia(0%) saturate(100%) brightness(80%) hue-rotate(-363deg);
          }

          p {
            position: absolute;
            left: 50%;
            top: 35%;
            transform: translate(-50%, -35%);
            font-size: $h2_font_lg;
            font-weight: $title_weight;
            margin: 0;
          }

          &:hover p {
            color: #fff;
          }
        }
      }
    }
  }

  .slider {
    width: 100%;
    height: 41vh;
    position: relative;
    overflow: hidden;
    cursor: grab;
    background: $slider_bg;

    .slider_img {
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0%, -50%);

      img {
        transform: rotate(275deg);
        width: 250px;
        height: 250px;
        object-fit: none;
        object-position: center;
        border-radius: 100%;
        box-shadow: 0px 0px 20px 0px $shadow_blk;        
      }
    }
  }






  // useing swiper slider
  // .swiper {
  //   width: 100%;
  //   height: 100%;
  //   cursor: grab;
  // }

  // .swiper-slide {
  //   text-align: center;
  //   font-size: 18px;
  //   background: #fff;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
}
