// @@@@@@@@@@@@@@@@@@@@@@@@ color @@@@@@@@@@@@@@@@@@@@@@@@

$prime_color: #cf4e4e;
$mild_color: #afcfff;
$secendory_color: #9ee96d;
$body_bg: #fefaeb;
$dark_blk: #222222;
$light_blk: #666666;
$shadow_blk: #6666667d;
$border: #dedede;
$sticky_navbar_bg: #fefaeb99;
$sticky_navbar_sadow: #c1c1c163;
$conic-gradient : repeating-conic-gradient(from 28deg at 15% 30%, $secendory_color 0deg, $body_bg 20deg 30deg);
$conic-gradient-hover : repeating-conic-gradient(from 45deg at 15% 30%, $secendory_color 0deg, $body_bg 20deg 30deg);
$slider_bg : linear-gradient(to bottom, $body_bg 0% ,$body_bg 50%, $mild_color 50%, $mild_color 100%);

// @@@@@@@@@@@@@@@@@@@@@@@@ color @@@@@@@@@@@@@@@@@@@@@@@@

// @@@@@@@@@@@@@@@@@@@@@@@@ font @@@@@@@@@@@@@@@@@@@@@@@@

$title_family: "simplifydemo";
$prime_family: "Hepta Slab";
$banner_font: 75px;
$banner_weight: 400;
$nav_font: 16px;
$nav_weight: 500;
$cv_btn_font: 10px;
$cv_btn_icon__font: 42px;
$p_font: 15px;
$p_font_sm: 13px;
$h_font: 23px;
$h_font_xl: 30px;
$h_font_sm: 18px;
$stripe_font: 18px;
$p_weight: 600;
$title_font: 48px;
$title_weight: 500;
$copywrite_font : 10px;

// @@@@@@@@@@@@@@@@@@@@@@@@ font @@@@@@@@@@@@@@@@@@@@@@@@

// @@@@@@@@@@@@@@@@@@@@@@@@ mixin @@@@@@@@@@@@@@@@@@@@@@@@

@mixin border($wd: 2px, $divider: solid, $clr: $border, $radious: 100%) {
  border: $wd $divider $clr;
  border-radius: $radious;
}

@mixin box_shadow($sdo) {
  box-shadow: 0px 0px 7px 1px $sdo;
}

@mixin title($align: center,$f_siz:$title_font,$l_height:1) {
  text-align: $align;
  font-family: $title_family;
  font-size: $f_siz;
  font-weight: $title_weight;
  line-height: $l_height;
}

@mixin star_effect(
  $lft: inherit,
  $top: inherit,
  $rit: inherit,
  $btom: inherit
) {
  position: absolute;
  width: 20px;
  left: $lft;
  top: $top;
  right: $rit;
  bottom: $btom;
  animation: star infinite alternate 1000ms ease;

  @keyframes star {
    0% {
      transform: rotate(0deg) scale(0);
    }
    100% {
      transform: rotate(100deg) scale(0.7);
    }
  }
}
// @@@@@@@@@@@@@@@@@@@@@@@@ mixin @@@@@@@@@@@@@@@@@@@@@@@@
